header {
  margin-top: 80px;

  h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 25px;
  }

  img.portrait {
    margin-top: 100px;

    border: 4px solid rgba(var(--font-color-rgba));
    border-radius: 50%;
  }
  
  img.down-arrow {
    margin-top: 100px;
  }
}
